@import "mafs/core.css";
@import "mafs/font.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.MafsView {
  --mafs-bg: transparent;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
